body {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.font-big {
  font-size: 20px;
}

.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
}
