.menu {
  position: relative;
  width: 40px;
  height: 3px;
  background-color: #DB3138;
  margin: 5px;
}

.menu-item {
  cursor: pointer;
  margin: 10px 0;
}
.menu-item:hover {
  background-color: #DB3138;
  transition: ease-in-out 0.2s;
}

.menu-container {
  cursor: pointer;
}

.menu:nth-child(2) {
  left: 15px;
}
